* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 130px;
  height: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 10px 2px 1rem 2px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.close_menu {
  transform: translateX(-100%) !important;

  transition: all 0.5s ease 0s !important;
}

header h1 {
  font-size: 4.2rem;
  color: #2a2b2f;
  font-family: "Bask Old Face";
  margin: 4rem 0 0 0;

  transform: rotate(-90deg) translateX(100%);
}

.burger__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;

  transform: translateY(-12rem);
}

.burger {
  width: 50px;
  height: 2px;
  background-color: #131313;
  transition: all 0.5s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #131313;
  transition: all 0.5s ease-in-out;
}

.burger::after {
  transform: translateY(-12px);
}

.burger::before {
  transform: translateY(12px);
}

.burger__menu.open_menu .burger {
  background: transparent;
}

.burger__menu.open_menu .burger::before {
  transform: rotate(45deg) translate(0);
}

.burger__menu.open_menu .burger::after {
  transform: rotate(-45deg) translate(0);
}

.menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  width: 30%;
  height: 100%;
  background-color: white;
  z-index: 5;
  padding-top: 4rem;

  transform: translateX(-100%);
  transition: all 0.5s ease 0s !important;
  
}

.menu_items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.menu_items h1 {
  font-size: 4.2rem;
  color: #2a2b2f;
  font-family: "Bask Old Face";
  margin: 0;
}

.menu_items .burger__menu {
  transform: translateY(0) !important;  
}

.open-menu {
  transform: translateX(0%);
}

#sec-1 {
  background: url("images/Citi.jpg") left 10% bottom 70% / cover no-repeat
    border-box;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.info__one {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;

  transform: rotate(180deg) translateY(-5rem);
}

.line__one {
  opacity: 0;
  width: 0px;
  height: 2px;
  background-color: white;

  transition: all 0.5s ease;
  transform: rotate(90deg) translateX(134px);
}

.line__one h1 {
  transform: rotate(90deg) translate(50px, -70px);
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 42px;
  color: #ffffff;
  font-family: "Bask Old Face";
}

.info__items__one {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}

.info__item__one {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 0;
}

.info__two {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;

  transform: rotate(180deg) translate(0.5rem, 2rem);
}

.line__two {
  opacity: 0;
  width: 0px;
  height: 2px;
  background-color: white;

  transition: all 0.5s ease;
  transform: rotate(90deg) translateX(134px);
}

.line__two h1 {
  transform: rotate(90deg) translate(50px, -70px);
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 42px;
  color: #ffffff;
  font-family: "Bask Old Face";
}

.info__items__two {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}

.info__item__two {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 0;
}

.info__tree {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;

  transform: rotate(180deg) translateY(8rem);
}

.line__tree {
  opacity: 0;
  width: 0px;
  height: 2px;
  background-color: white;

  transition: all 0.5s ease;
  transform: rotate(90deg) translateX(134px);
}

.line__tree h1 {
  transform: rotate(90deg) translate(50px, -70px);
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 42px;
  color: #ffffff;
  font-family: "Bask Old Face";
}

.info__items__tree {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 50%;
  padding: 0.5rem;
}

.info__item__tree {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  padding: 0;
}

.see {
  opacity: 1;
  width: 200px;
}

.main_items--top {
  width: 100%;
  text-align: left;
}

.main_items--top h1 {
  width: 518px;
  height: 164px;
  letter-spacing: 4px;
  line-height: 71px;
  color: #ffffff;
  font-family: "Bask Old Face";
  font-size: 6.1rem;

  transform: translateX(50%);
}

.main_items--bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0 3rem 2rem 0;
}

.main_item--bottom {
  border: 1px solid #0305e9;
  background-color: #0305e9;
  border-radius: 2rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_items--bottom img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.main_items--bottom h3 {
  color: white;
  font-family: "Bask Old Face";
  font-size: 1.5rem;
}

#sec-2 {
  width: 100%;
  margin-top: 5rem;

  overflow: hidden;
}

.main__items {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;

  transform: translateX(10%);
}

.main__navigation--items {
  width: 100%;
  list-style: none;
  padding: 0;
  margin-right: 3rem;
}

.main__navigation--item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 1rem;
}

.main__navigation--item h3 {
  letter-spacing: 1px;
  color: #2a2b2f;
  font-family: "Century Gothic";
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 0.5rem;
}

.main__navigation--item:hover {
  background-color: #b6c5dc;
  color: #0c3065;
  cursor: pointer;
}

.main-items-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  margin: 0;
}

.main-items-info h1 {
  font-size: 5rem;
  font-weight: 300;
  color: #00025c;
  margin: 0 0 1rem 0;
}

.main-items-info h2 {
  font-size: 1.8rem;
  line-height: 36px;
  color: #505050;
  font-style: italic;
}

.main-items-info p {
  font-size: 1.6rem;
  line-height: 40px;
  color: #505050;
  font-family: "Myriad Pro";
}

.main-items-info button {
  color: white;
  background-color: #00245c;
  border: 1px solid #00245c;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  margin: 2rem 0;

  transition: background-color 0.5s ease;
}

.main-items-info button::after {
  content: "»";
  margin-left: 1rem;
  font-size: 1.5rem;
}

.main-items-info button:hover {
  color: #00245c;
  background-color: white;
  border: 1px solid #00245c;

  transition: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
}

.main-items-photo img {
  height: 700px;
  /* transform: translateX(40%); */
}

#sec-3 {
  width: 100%;
  margin: 3rem 0;
}

.main__photo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.main__photo--items {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.main__photo--items li {
  height: 390px;
  margin: 0;
}

.main__photo--items img {
  width: 595px;
  height: 390px;
  filter: invert(15%);
  position: relative;
}

.main__photo--item h2 {
  position: absolute;
  font-size: 3.75rem;
  color: #ffffff;
  margin: 3rem 4rem;
  z-index: 2;
}

.image-1 {
  width: 590px;
  height: 390px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.photo-1 {
  width: 590px;
  height: 390px;

  transition: all 1s ease 0s;
}

.photo-1:hover {
  transform: scale(1.1);
  transition: all 1s ease 0s;
}

#sec-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10rem auto;
}

.sec-4__top--items {
  text-align: center;
}

.sec-4__top--items h2 {
  color: #012760;
  font-family: "Century Gothic";
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.sec-4__top--items h1 {
  font-size: 5.8rem;
  color: #3f3f3f;
  margin-top: 0;
}

.main-elements {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery__items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.gallery__item {
  margin: 0 1.2rem;
}

.gallery__item img {
  width: 114px;
  height: 108px;
  cursor: pointer;
}

.gallery__main--image__one {
  display: block;
  width: 720px;
  height: 480px;
  cursor: pointer;
}

.gallery__main--image__two {
  display: none;
}

.gallery__main--image__tree {
  display: none;
}

.gallery__main--image__four {
  display: none;
}

.gallery__main--image__five {
  display: none;
}

.open {
  display: block;
  width: 720px;
  height: 480px;
}

.video {
  display: none;
  width: 760px;
  height: 625px;
}

.main__video {
  width: 760px;
  height: 625px;
}

.video-360 {
  display: none;
  width: 760px;
  height: 625px;
}

.video__360 {
  width: 760px;
  height: 625px;
}

.animation__open {
  animation: anim_open 1s ease 0s forwards;
}

@keyframes anim_open {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.animation__close {
  transform: translateX(-100%);
  opacity: 0;

  transition: all 0.5s ease 0s !important;
}

.item__photo {
  background-color: #bdd6e8;
  padding: 0.5rem;
}

.where_you--back {
  background: none;
  transition: background-color 0.5s ease !important;
  padding: 0.5rem;
}

.where_you {
  background-color: #bdd6e8;
  padding: 0.5rem !important;

  transition: background-color 0.5s ease !important;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan__items {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.plan__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  padding: 0.5rem;

  transition: background-color 0.5s ease !important;
}

.plan__item img {
  width: 30px;
  height: 30px;
  margin-right: 0.5rem;
}

.plan__item button {
  color: #00255c;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 21px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.main--plan__photo img {
  width: 650px;
  height: 530px;
}

#sec-5 {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  padding: 4rem 0;
}

.blog__items__two {
  display: none;
  list-style: none;
}

.open__blog {
  /* transform: translateX(0%) !important;

  transition: all 0.5s ease 0.5s !important; */

  animation: open-blog 1s linear 0s forwards !important;
}

@keyframes open-blog {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.close__blog {
  /* opacity: 0 !important;

  transition: all 0.5s ease !important; */

  animation: close-blog 1s linear 0s forwards;
}

@keyframes close-blog {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.main--blog__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.arrow__left {
  position: relative;
  width: 60px;
  height: 60px;
  border-top: 10px solid black;
  border-right: 10px solid black;
  cursor: pointer;

  transform: rotate(45deg);
}

/* .arrow__right {
  position: relative;
  width: 60px;
  height: 60px;
  border-top: 10px solid black;
  border-right: 10px solid black;
  cursor: pointer;

  transform: rotate(-135deg);
  z-index: 10;
} */

.blog__title {
  font-size: 5.8rem;
  color: #3f3f3f;
  width: 100%;
  text-align: center;
}

.blog__items {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  list-style: none;
}

.blog__item {
  width: 450px;
  background-color: white;
  margin: 0 2rem;
}

.blog__item img {
  width: 450px;
  height: 325px;
}

.blog__item h2 {
  font-size: 3rem;
  color: #2b2b2b;
  margin: 0.5rem 0 0.5rem 2rem;
}

.blog__item p {
  line-height: 33px;
  color: #7f7f7f;
  font-family: "Myriad Pro";
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 2rem;
}

.blog__item button {
  color: #2b2d31;
  border: none;
  background-color: white;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  margin: 4rem 2rem;
  padding: 0;
}

.blog__item button::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: black;

  transform: translateY(30px);
  transition: width 0.5s ease 0s;
}

.blog__item button::after {
  content: "»";
  margin-left: 1rem;
  font-size: 1.5rem;
}

.blog__item button:hover::before {
  width: 145px;

  transition: all 0.5s ease 0s;
}

.two__line {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line--one {
  width: 100px;
  height: 5px;
  background-color: #009cd8;
  margin: 2rem 1rem;
}

.line--two {
  width: 100px;
  height: 5px;
  background-color: #dedede;
  margin: 2rem 1rem;
}

#sec-6 {
  width: 100%;
  height: 780px;
  margin-top: 5rem;
  padding-left: 8rem;
}

footer {
  background-color: #1f1f23;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem 2rem 2rem;
}

footer h2 {
  color: #567cb4;
  font-family: "Century Gothic";
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 0;
}

footer h1 {
  font-size: 5.8rem;
  margin-top: 0;
  color: #bababa;
}

footer p {
  font-family: "Myriad Pro";
  font-size: 2.1rem;
  color: #dbdbdb;
  text-align: center;
  width: 60%;
}

footer button {
  color: white;
  background-color: #00245c;
  border: 1px solid #00245c;
  font-size: 1.5rem;
  padding: 1rem;
  outline: none;
  cursor: pointer;
  margin: 5rem 0 3rem 0;

  transition: all 0.5s ease 0s;
}

footer button::after {
  content: "»";
  margin-left: 1rem;
  font-size: 1.5rem;
}

footer button:hover {
  color: #00245c;
  background-color: white;

  transition: all 0.5s ease 0s;
}
